.content{
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);
}

.al-div{
    background-color: #dce0e6;
}

span{
    margin-top: 10px;
    color: #1f1f20;
    font-size: 15px;
    font-weight: 100px;
}

.div-img{
    width: 15rem;

}

img{
    border-radius: 5px;
    width: 15rem;
    height: auto;
    background-size: cover;
  }

  form{
    padding: 2rem;
    
  }
  
  form > div {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (max-width: 760px) {
    form{
        padding: 5rem;
    }
    form > div{
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }